<!doctype html>
<html>
<head>
	<title>Your Completed Exercises</title>
	<link rel="stylesheet" href="style.css" type="text/css">	
</head>
<body>
	{{{body}}}
	<script src="script.js"> </script>
</body>
</html>